.default_home_banner_three{
	.carousel-inner{
		.carousel-item{
			.carousel-content{
				.border-left{
					border-color:o-color('800') !important;
					font-size: 14px;
				}
				.mini_title{
					font-size: 14px;
					font-weight: 600;
					&:after{
						content: ' ';
						position: absolute;
						width: 40px;
						height: 1px;
						background-color: o-color('800');
						bottom: 0;
						left: 0;
					}
				}
			}
			@media(max-width: 767.98px){
	    	    padding: 88px 0px !important;
		    }
		}
	}
	.carousel-indicators{
		li{
		    width: 6px;
		    height: 6px !important;
		    background-color: #181818 !important;
		    border-radius: 100% !important;
		    opacity: 1 !important;
		    transition: 0.2s;
		    --webkit-transition: 0.2s;
		    margin: 0px 6px !important;

		    &.active, &:hover{
	    	    border: 3px solid #121212 !important;
    			background-color: transparent !important;
    			width: 5px;
    			height: 5px !important;
		    }
		}
	}
}

.s_furniture_banner{
	.bs-slider{
		.carousel-indicators{
			li{
				background-color:#827f7f;
			}
			li.active{
				background-color:#e97730;
			}
		}
		.carousel-inner{
			.carousel-item{
				padding: 130px 0;
				@media(max-width:767.98){
					padding: 88px 0;
				}
				.single-slide{
					.hero-content-one{
    					.slider-text-info{
    						.sub_heading{
    							color:theme-color('primary');
    							font-weight:600;
    							margin-bottom:20px;
    						}
    						h1{
    							font-weight:600;
    						}
    						.slider-btn{
    							font-size: 16px;
							    line-height: 16px;
							    font-weight: 500;
							    padding: 18px 45px;
							    margin-top: 30px;
							    transition: 0.4s;
							    text-transform: uppercase;
							    border:2px solid #000;
							    border-radius:0px;
							    &:hover{
							    	background-color:#000;
							    }
    						}
    					}
					}
				}
			}
		}
	}
}

.s_furniture_about{
	padding-top: 100px;
    padding-bottom: 0px;
    .about-image{
    	position: relative;
    	text-align: center;
    	.text_left{
    		background: #ffffff none repeat scroll 0 0;
		    border-radius: 25px;
		    box-shadow: 1px 2px 2px 2px #dddddd;
		    color: #303030;
		    font-size: 24px;
		    left: -120px;
		    padding: 15px 40px;
		    position: absolute;
		    text-align: left;
		    font-weight: 400;
		    text-transform: capitalize;
		    top: 45%;
		    transform: rotate(-90deg);
    	}
    }
    .about-contents{
    	.shop-btn-two{
			font-weight: 500;
		    font-size: 20px;
		    padding: 14px 40px;
		    border-radius: 0;
		    border:2px solid #000;
		    text-transform:uppercase;
		    &:hover{
		    	background-color:#000;
		    }
		}
    	padding-left: 25px;
    	padding-top: 65px;
    	h3{
    		font-weight: 600;
    		margin-bottom: 30px;
    	}
    	.price-box{
    		margin-bottom:20px;
    		.old-price{
    			font-size:18px;
    			text-defaultation: line-through;
    			color: #000000;
    		}
    		.new-price{
    			color: #e97730;
			    font-size: 22px;
			    font-weight: 500;
    		}
    	}
    }
}

.s_furniture_with_bg_imag_para{
	.lg-banner-info{
		.btn-theme{
			font-weight: 500;
		    font-size: 14px;
		    padding: 14px 40px;
		    border-radius: 0;
		    border:2px solid #000;
		    text-transform:uppercase;
		    font-size:20px;
		    &:hover{
		    	background-color:#000;
		    }
		}
	}
}

.s_furniture_two_blocks_bg_img{
	.section-pb{
		.single-banner{
			position: relative;
		    width: 100%;
		    height: 100%;
		    .hover_effect{
		    	display: block;
			    overflow: hidden;
			    position: relative;
		    }
		    .banner-contet{
		    	position: absolute;
			    top: 50%;
			    padding-left: 60px;
			    transform: translateY(-50%);
			    p{
			    	color: #fff;
				    font-size: 24px;
				    font-weight: 400;
				    line-height: 26px;
				    font-style: italic;
				    margin-bottom:10px;
			    }
			    h3{
			    	color:#fff;
			    	font-weight:600;
			    	margin:0px;
			    }
			    .btn-3{
			    	color: #fff;
				    text-defaultation: underline;
				    font-weight: 500;
				    font-size:19px;
			    }
		    }
		}
	}
}

.s_furniture_testimonial {
	background-repeat:no-repeat;
	background-size:cover;
	.overlay{
		padding-top: 100px;
	    padding-bottom: 100px;
	    background-repeat: no-repeat;
	    .testi2{
    		.carousel-indicators{
    			bottom:-75px;
    		}
    		.carousel-inner{
    			.carousel-item {
    				.testimonial-slider{
    					.test-cont{
    						p{
    							font-size: 24px;
							    font-style: italic;
							    line-height: 36px;
							    margin: 35px 0;
							    color: #ffffff;
							    padding: 0 2px;
							    font-style: italic;
							    font-family: "Open Sans", sans-serif;
							    font-weight: 400;
    						}
    					}
    					.test-author{
    						h4{
    							font-weight:500;
    							color:#fff;
    						}
    						p{
    							font-family: "Open Sans", sans-serif;
							    font-weight: 400;
							    font-style: normal;
							    color: #ffffff;
    						}
    					}
    				}
    			}
    		}
    	}
	}
}

.s_furniture_two_imgs{
	.pt-100{
		padding-top:100px;
		padding-bottom:70px;
		.single-banner{
			a{
				img{
					width:100%;
				}
			}
		}
	}
}

.s_furniture_gallery{
	.sec-title{
		position: relative;
    	margin-bottom: 70px;
    	h2{
    		font-weight:700;
    		text-transform:uppercase;
    	}
    	.text{
    		position: relative;
		    font-size: 18px;
		    line-height: 1.55em;
		    color: #888888;
		    font-weight: 300;
		    margin-top: 18px;
    	}
	}
	.clearfix{
		position: relative;
	    padding-top: 10px;
	    margin: 0 -5px;
	    .gallery-item{
	    	padding: 0 5px;
    		margin-bottom: 10px;
    		position: relative;
		    width: 25%;
		    float: left;
		    .image-box{
		    	.image{
		    		a{
		    			img{
		    				width:100%;
		    			}
		    		}
		    	}
		    	.overlay-box{
		    		position: absolute;
				    left: 0px;
				    bottom: 3px;
				    padding-left: 10px;
				    width: 100%;
				    overflow: hidden;
				    .content{
				    	position: relative;
					    display: inline-block;
					    width: 0;
					    padding: 17px 35px 15px 85px;
					    overflow: hidden;
					    background-color: #ffffff;
					    transform: scaleX(0);
    					transform-origin: left;
    					transition: all 300ms ease;
					    h3{
					    	position: relative;
						    display: block;
						    font-size: 16px;
						    line-height: 25px;
						    color: #333333;
						    font-weight: 500;
						    letter-spacing: 1px;
						    text-transform: uppercase;
						    white-space: nowrap;
						    a{
						    	color:#333333;
						    }
					    }
					    h3:before{
					    	position: absolute;
						    left: -45px;
						    top: 13px;
						    width: 32px;
						    height: 1px;
						    background-color: #25262c;
						    content: "";
					    }
					    span{
					    	position: relative;
						    display: block;
						    font-size: 14px;
						    line-height: 27px;
						    color: #888888;
						    font-weight: 300;
						    white-space: nowrap;
					    }
				    }
		    	}
		    }
	    }
	    .gallery-item:hover{
	    	.overlay-box{
	    		.content{
	    			width: auto;
	    			transform: scaleX(1);
	    		}
	    	}
	    }
	}
	.btn-box{
		position: relative;
	    margin-top: 60px;
	    text-align: center;
	    .theme-btn{
	    	padding: 17px 40px 13px;
	    	position: relative;
		    font-size: 14px;
		    line-height: 20px;
		    color: #333333;
		    padding: 17px 35px 13px;
		    background: transparent;
		    font-weight: 500;
		    border: 2px solid #000000;
		    text-transform: uppercase;
		    font-family: "Rubik", sans-serif;
		    letter-spacing: 0.1em;
		    &:hover{
		    	background-color:#000;
		    	color:#fff;
		    }
	    }
	}
}

.s_furniture_fun-fact-section{
	position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 85px 0px 25px;
    .inner-column{
    	position:relative;
    	margin-bottom:60px;
    	h3{
    		position: relative;
		    font-size: 40px;
		    line-height: 1.1em;
		    color: #f4f6f6;
		    font-weight: 500;
		    text-transform: uppercase;
		    margin-bottom: 25px;
    	}
    	.text{
    		position: relative;
		    display: block;
		    font-size: 18px;
		    line-height: 29px;
		    color: #c6c6c6;
		    font-weight: 300;
    	}
    }
    .content-column{
    	.inner-column{
    		.counter-column{
    			position: relative;
			    padding: 0 19px;
			    text-align: center;
			    margin-bottom: 50px;
			    font-family: "Rubik",sans-serif;
			    .count-box{
			    	position: relative;
				    font-size: 35px;
				    line-height: 1.2em;
				    color: #ffffff;
				    font-weight: 300;
				    .count-text{
				    	position: relative;
					    display: inline-block;
					    font-size: 65px;
					    line-height: 1em;
					    color: #ffffff;
					    font-weight: 300;
				    }
				    .counter-title{
				    	position: relative;
					    display: block;
					    font-size: 18px;
					    line-height: 29px;
					    color: #c6c6c6;
					    font-weight: 300;
					    margin-top: 10px;
				    }
				}
    		}
    	}
    }
}

.s_furniture_services-section{
	position: relative;
    padding: 100px 0 100px;
    .custom{
    	.sec-title{
    		margin-bottom: 70px;
    		h2{
    			font-weight: 700;
    			text-transform: uppercase;
    		}
    		.text{
    			font-size: 18px;
			    line-height: 1.55em;
			    font-weight: 300;
			    margin-top: 18px;
    		}
    	}
    	.clearfix{
    		.blocks-column{
    			background-color: #f4f6f6;
    			.inner-column{
    				padding: 60px 65px 0;
    				.service-block{
    					margin-bottom: 40px;
    					.inner-box{
    						position:relative;
    						padding-left: 95px;
    						.icon{
    							position: absolute;
							    left: 0;
							    top: 0;
							    font-size: 58px;
							    line-height: 1em;
							    color: #222222;
    						}
    						h3{
    							font-size: 16px;
							    line-height: 25px;
							    font-weight: 500;
							    text-transform: uppercase;
							    margin-bottom: 15px;
    						}
    					}
    				}
    			}
    		}
    	}
    }
}

.s_furniture_who-we-are{
	position: relative;
    padding: 100px 0 60px;
    .clearfix{
    	.title-column{
    		position: relative;
    		margin-bottom: 50px;
    		.inner-column{
    			position: relative;
    			padding-right: 50px;
    			.sec-title{
    				margin-bottom: 30px;
    				h2{
    					font-weight:700;
    				}
    				.text{
    					position: relative;
					    font-size: 18px;
					    line-height: 1.55em;
					    font-weight: 300;
					    margin-top: 18px;
    				}
    			}
    			.btn-box{
    				position: relative;
				    margin-top: 60px;
				    text-align: center;
				    .btn-style-one{
				    	position: relative;
					    font-size: 14px;
					    line-height: 20px;
					    color: #333333;
					    padding: 17px 35px 13px;
					    background: transparent;
					    font-weight: 500;
					    border: 2px solid #000000;
					    text-transform: uppercase;
					    font-family: "Rubik", sans-serif;
					    letter-spacing: 0.1em;
					    &:hover{
					    	background-color:#000;
					    	color:#fff;
					    }
				    }
    			}
    		}
    	}
    	.blocks-column{
    		.inner-column{
    			position:relative;
    			.feature-block{
    				position: relative;
				    padding: 0 8px;
				    margin-bottom: 30px;
				    .inner-box{
				    	background-color:#25262c;
				    	position: relative;
					    padding: 80px 15px 75px;
					    text-align: center;
					    border: 4px solid #25262c;
					    transition:.2s;
					    &:hover{
					    	background-color:#fff;
					    	.icon, a{
					    		color:#000;
					    		}
					    }
					    .icon{
					    	position: relative;
						    display: inline-block;
						    font-size: 55px;
						    line-height: 60px;
						    margin-bottom: 25px;
						    color: #ffffff;
						    transition: all 300ms ease;
					    }
					    h3{
						    font-size: 16px;
						    font-weight: 500;
						    letter-spacing: 1px;
						    text-transform: uppercase;
						    a{
						    	color:#fff;
						    }
					    }
				    }
    			}
    		}
    	}
    }
     @media (max-width: 767.98px){
     	padding-top:0px !important;
     }
}

.s_furniture_about_with_img{
	position: relative;
    padding: 110px 0 50px;
    .inner-column{
    	position: relative;
    	padding-top: 17px;
    	.title{
    		position: relative;
		    display: inline-block;
		    font-size: 15px;
		    line-height: 24px;
		    color: #888888;
		    font-weight: 400;
		    font-family: "Rubik", sans-serif;
		    text-transform: uppercase;
		    margin-bottom: 8px;
    	}
    	h2{
    		font-size: 45px;
		    line-height: 55px;
		    font-weight: 500;
		    margin-bottom: 25px;
		    letter-spacing: -0.01em;
    	}
    	.text{
    		font-size: 16px;
		    line-height: 26px;
		    font-weight: 400;
		    margin: 0;
		    p{
		    	font-size: 18px;
			    line-height: 29px;
			    font-weight: 300;
			    margin-bottom: 30px;
		    }
    	}
    	.btn-box{
    		position: relative;
		    margin-top: 60px;
		    text-align: center;
		    .btn-style-one{
		    	position: relative;
			    font-size: 14px;
			    line-height: 20px;
			    color: #333333;
			    padding: 17px 35px 13px;
			    background: transparent;
			    font-weight: 500;
			    border: 2px solid #000000;
			    text-transform: uppercase;
			    font-family: "Rubik", sans-serif;
			    letter-spacing: 0.1em;
			    &:hover{
			    	background-color:#000;
			    	color:#fff;
			    }
		    }
    	}
    }
     @media (max-width: 767.98px){
    	padding-top:0px !important;
    	margin-top:0px !important;
    	.btn-box{
    		margin-bottom:60px !important;
    	}
    }
}

.s_furniture_services-section-two{
	.service-block-two{
		transition: all .3s;
	    position: relative;
	    margin-bottom: 40px;
	    &:hover{
	    	transform: translateY(-10px);
	    }
	    .inner-box{
	    	position: relative;
		    background-color: #ffffff;
		    padding: 35px 45px;
		    border: 1px solid #dedede;
		    .icon{
		    	position: relative;
			    display: block;
			    font-size: 58px;
			    line-height: 60px;
			    color: #222222;
			    margin-bottom: 30px;
		    }
		    h3{
		    	line-height: 25px;
			    font-weight: 500;
			    text-transform: uppercase;
			    margin-bottom: 15px;
			    font-size:16px;
		    }
		    .text{
		    	font-size: 15px;
			    line-height: 27px;
			    font-weight: 300;
		    }
	    }
	}
	position: relative;
    background-color: #f6f8f8;
    padding: 100px 0 110px;
    .custom{
    	position: static;
	    max-width: 1200px;
	    padding: 0px 15px;
	    margin: 0 auto;
	    .btn-box{
	    	position: relative;
		    text-align: center;
		    margin-top: 35px;
		    .text{
		    	position: relative;
			    display: block;
			    font-size: 20px;
			    line-height: 30px;
			    font-weight: 300;
			    margin-bottom: 32px;
		    }
		    .theme-btn{
		    	padding: 17px 26px 13px;
		    	position: relative;
			    font-size: 14px;
			    line-height: 20px;
			    color: #333333;
			    padding: 17px 35px 13px;
			    background: transparent;
			    font-weight: 500;
			    border: 2px solid #000000;
			    text-transform: uppercase;
			    font-family: "Rubik", sans-serif;
			    letter-spacing: 0.1em;
			    &:hover{
		    	background-color:#000;
		    	color:#fff;
		    }
		    }
	    }
	    .upper-box{
	    	position: relative;
    		margin-bottom: 50px;
    		.title-column{
    			position: relative;
    			margin-bottom: 40px;
    			.inner-column{
    				position: relative;
				    text-align: right;
				    padding-right: 45px;
				    .title{
				    	position: relative;
					    display: block;
					    font-size: 15px;
					    line-height: 30px;
					    font-weight: 400;
					    font-family: "Rubik", sans-serif;
					    margin-bottom: 10px;
					    }
				    h2{
				    	position: relative;
					    display: block;
					    font-size: 45px;
					    line-height: 55px;
					    font-weight: 500;
					    text-transform: uppercase;
				    	}
    			}
    			.inner-column:before{
    				position: absolute;
				    right: -12px;
				    top: 0;
				    height: 100%;
				    width: 1px;
				    padding-bottom: 10px;
				    background: #d7d8d9 padding-box content-box;
				    content: "";
    			}
    		}
    		.text-column{
    			.inner-column{
    				position: relative;
    				padding-left: 45px;
    				.text{
    					position: relative;
					    font-size: 18px;
					    line-height: 29px;
					    font-weight: 300;
    				}
    			}
    		}

	    }
    }
}

.s_furniture_team_section{
	.title-box{
		position: relative;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    background-attachment: fixed;
	    padding: 100px 0 100px;
	    .custom{
	    	position: static;
		    max-width: 1200px;
		    padding: 0px 15px;
		    margin: 0 auto;
		    .sec-title{
		    	h2{
		    		color: #fff;
				    display: block;
				    font-size: 45px;
				    line-height: 1.2em;
				    font-weight: 500;
				    text-transform: uppercase;
				    position:relative;
		    	}
		    	.text{
		    		position: relative;
				    font-size: 18px;
				    line-height: 1.55em;
				    font-weight: 300;
				    color:#fff;
				    margin-top: 18px;
		    	}
		    }
	    }
	}
	.content-box{
		position: relative;
    	padding: 80px 0 65px;
    	.custom{
    		position: static;
		    max-width: 1200px;
		    padding: 0px 15px;
		    margin: 0 auto;
		    .team-block{
		    	position: relative;
    			margin-bottom: 40px;
    			.inner-box{
    				position:relative;
    				.image-box{
    					position: relative;
    					overflow: hidden;
    					.image{
    						position:relative;
    						img{
    							display: block;
							    width: 100%;
							    height: auto;
							    transition: all 500ms ease;
    						}
    					}
    					.image:after{
    							position: absolute;
							    left: 50%;
							    top: 0;
							    height: 100%;
							    width: 0;
							    overflow: hidden;
							    opacity: .70;
							    content: "";
							    background-color: #25262c;
							    transition: all 500ms ease;
							    pointer-events:none;
    						}
    				}
    				.icon{
    					position:absolute;
    					top:50%;
    					width:0;
    					opacity:0;
    					transform: translateY(-50%);
    					ul{
    						padding:0;
    						text-align:center;
    					}
    					li{
    						display:inline-block;
    						margin-right:10px;
    						a{
    							color:#fff;
    						}
    					}
    				}
    				.info-box{
    					position: relative;
					    padding: 26px 0 0;
					    text-align: center;
    				}
    			}
    			.inner-box:hover{
    				.image-box{
    					.image{
    						img{
    							transform: scale(1.1);
    						}
    					}
    					.image:after{
		    					width:100%;
		    					left: 0;
		    					transform: scale(1.1);
		    				}
    				}
    				.icon{
    					width:100%;
    					opacity:1;
    				}
    			}
    			.info-box{
    				position: relative;
				    padding: 26px 0 0;
				    text-align: center;
				    .name{
				    	position: relative;
					    font-size: 16px;
					    line-height: 25px;
					    color: #333333;
					    font-weight: 500;
					    letter-spacing: 1px;
					    text-transform: uppercase;
					    a{
					    	color:#333333;
					    }
				    }
				    .designation{
				    	position: relative;
					    display: block;
					    font-size: 14px;
					    line-height: 27px;
					    color: #888888;
					    font-weight: 300;
				    }
    			}
		    }
    	}
	}
}