$base_theme_color_type:style_1;
$base_theme_primary_1_color:#068e44;
$base_theme_primary_2_color:#e6f3ec; 
$base_theme_secondary_color:#f5f5fa;                                  
$base_theme_background_type:none; 
// $base_theme_background_color:#ffffff;              
$base_button_type:style_1; 
// $base_button_color_type:solid; 
$base_button_primary_1_color:#068e44; 
$base_button_primary_2_color:#e6f3ec; 
$base_button_secondary_color:#eeeeee;                                     
// $base_is_use_google_font:False; 
// $base_google_font_family:False;
$base_sidebr_type:default; 
$base_sidebar_position:left; 
$base_font_style:default; 
$base_checkbox_style:style_1; 
$base_radion_btn_style:style_2;
$base_theme_loading_type:default;
$base_theme_scrollbar_style:style_1; 
$base_theme_tab_style:default;
$base_theme_form_style:default;

$base_theme_sticky_tree_view:True;
$base_theme_one2many_field_tree_view:True;
$base_theme_sticky_form_view_chatter:True;
$base_theme_sticky_form_view_statusbar:True; 
// $base_theme_sticky_pivot_view:True; 
$base_theme_separator_style:default;
$base_theme_popup_style:default;
$base_theme_font_size:small;