.pos .scale-screen .read-weight{
    text-align: center;
    font-size: 32px;
    background: rgb(110, 156, 200);
    color: white;
    border-radius: 3px;
    padding: 16px;
    margin: 16px;
    cursor: pointer;
}
