.image_hotspot {
	.static_image_hotspot_info{
		.info-box{
			.hotspot-title{
			    font-size: 14px;
				color: #000000;
			}
			.hotspot-link{
				a{
					font-size: 13px;
    				font-weight: bold;
    				text-defaultation: none !important;
				}
			}
		}
		&:before{
			content: " ";
			width: 65px;
			height: 45px;
			transform: rotate(45deg) translateY(-50%);
			background-color: inherit;
			position: absolute;
			top: 50%;
			left: -20px;
			z-index: -1;
		}
		max-width: 0px;
		padding: 0px;
		overflow: hidden;
		left: 25px;
	    top: 50%;
	    transform: translateY(-50%);
	}
}

.o_editable {
	.image_hotspot {
		.static_image_hotspot_info{
			&.show_edit{
				padding: 10px;
				overflow: visible;
				max-width: 500px; 
			}
		}

	}
}

.static_image_hotspot_info, .dynamic_image_hotspot_info{
	.info-box{
		.hotspot-title{
		    font-size: 14px;
			color: #000000;
		}
		.hotspot-link{
			a{
				font-size: 12px;
				font-weight: bold;
				text-defaultation: none !important;
			}
		}
		p{
			.discountedprice{
			    font-size: 12px;
			    color: #000000;
			    font-weight: 700;
			    margin-right: 5px;
			}
			.originalprice{
			    font-size: 11px;
			    font-weight: 700;
			}
			margin-bottom: 0;
		}
	}
}

.hotspot_info {
	.fa, .ri, .ti, .lnr, .lni, .icon, .icofont{
		&:after{
			content: " ";
			width: 20px;
			height: 20px;
			border-radius: 50%;
			position: absolute;
			left: 4px;
			top: 4px;
			bottom: 0;
			right: 0;
			background-color: inherit;
			z-index: -1;
			animation: scaleIn 2s infinite;
		}
	    width: 28px;
	    height: 28px;
	    line-height: 28px;
        font-size: 14px;
        border-radius: 50%;
	    background-color: #ffffff;
	    display: inline-block;
	    vertical-align: middle;
	    text-align: center;
	}
	cursor: pointer;
}
@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: 1;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.popover.hotspot-popover{
	.arrow{
		&:before, &:after{
			border-bottom-color: inherit !important;
		}
	}
    max-width: 300px;
    border-radius: 0;
}