.ui-autocomplete .ui-menu-item {
    &.o_m2o_dropdown_option > a {
        color: $o-brand-tele;

        &.ui-state-active {
            color: darken($o-brand-tele, 10%);
        }
    }
    &.o_m2o_start_typing > a.ui-state-active {
        color: $dropdown-link-color;
    }
}
