.btn-bizople_button_10 {
    letter-spacing: 0;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    color: black;
    border: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    position: relative;
    text-defaultation: none;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;
}

.btn-bizople_button_10:before, .btn-bizople_button_10:after {
    content: '';
    position: absolute; 
    transition: inherit;
    z-index: -1;
}

.btn-bizople_button_10:before {
    border: 1px solid black;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border-left: 0;
    border-right: 0;
}

.btn-bizople_button_10:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    /*background: var(--inv);*/
}

.btn-bizople_button_10:hover {
    color: theme-color('light') !important;
    transition-delay: .5s;
}
.btn-bizople_button_10:active {
    color: theme-color('light') !important;
    transition-delay: .5s;
}

.btn-bizople_button_10:hover:before {
    transition-delay: 0s;
    left: 0;
    width: 100%;
}

.btn-bizople_button_10:hover:after {
    background-color: black;
    transition-delay: .35s;
    top: 0;
    height: 100%;
}


/*::::::::::::: btn-secondary and btn-outline-secondary ::::::::::::::::::::::::::*/

.btn-bizople_button_10.btn-secondary, .btn-bizople_button_10.btn-outline-secondary{
    color: theme-color('secondary') !important;
}

.btn-bizople_button_10.btn-secondary:active, .btn-bizople_button_10.btn-outline-secondary:active{
    background-color: theme-color('secondary') !important;
}

.btn-bizople_button_10.btn-secondary, .btn.btn-bizople_button_10.btn-outline-secondary{
    &:before{
        border-color: theme-color('secondary') !important;
    }
}

.btn-bizople_button_10.btn-secondary:hover, .btn-bizople_button_10.btn-outline-secondary:hover {
    color: theme-color('light') !important;
    &:after{
        background-color: theme-color('secondary') !important;
    }
}

/*::::::::::::: btn-primary and btn-outline-primary ::::::::::::::::::::::::::*/

.btn-bizople_button_10.btn-primary, .btn-bizople_button_10.btn-outline-primary{
    color: theme-color('primary') !important;
}

.btn-bizople_button_10.btn-primary:active, .btn-bizople_button_10.btn-outline-primary:active {
    background-color: theme-color('primary') !important;
}

.btn-bizople_button_10.btn-primary, .btn.btn-bizople_button_10.btn-outline-primary{
    &:before{
        border-color: theme-color('primary') !important;
    }
}

.btn-bizople_button_10.btn-primary:hover, .btn-bizople_button_10.btn-outline-primary:hover {
    color: theme-color('light') !important;
    &:after{
        background-color: theme-color('primary') !important;
    }
}

